*.d*
*.nix
*.o
.replit
.ccls-cache
/lib
/CMakeFiles
/bin
/_deps
/Testing
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
DartConfiguration.tcl
red_social
red_social_tests
Makefile
*.cmake
.replit